<h1>
  Recently added cars
</h1>

<mat-toolbar class="info">
  <div class="make">Make model</div>
  <div class="price">
    <span>Price</span>
    <span>Year</span>
  </div>
</mat-toolbar>

<mat-drawer-container *ngFor="let listingItem of listingItems">
  <mat-drawer mode="side" opened><img src="{{listingItem.images[0]}}" style="width:180px;height:95px" alt="Photo of a bmw">
  </mat-drawer>
  <mat-drawer-content class="info">
    <div class="name">{{listingItem.title}}</div>
    <div class="price ad">
      <span>{{listingItem.price}}€</span>
      <span>{{listingItem.location}}</span>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
