<mat-drawer-container routerLink="/listings/{{listingItem.id}}">
  <mat-drawer class="image" mode="side" opened [style.width]="'180px'">
    <img src="{{listingItem.images[0]}}" style="max-width:85%;max-height:85%;" alt="listing.images[0]">
  </mat-drawer>
  <mat-drawer-content class="info">
    <div class="name">{{listingItem.title}}</div>
    <div class="price ad">
      <span class="full-view">{{listingItem.price}}€</span>
      <span class="full-view">{{listingItem.releaseYear}}</span>
      <span class="small-view"><b>Year:</b> {{listingItem.releaseYear}}</span>
      <span class="small-view"><b>Price:</b> {{listingItem.price}}€</span>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
