mat-toolbar {
  margin-bottom: 10px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  vertical-align: middle;
}

mat-drawer-container {
  min-width: 80vw;
  height: 120px;
  margin-bottom: 10px;
  border-radius: 5px;
}


mat-drawer-container:hover {
  cursor: pointer;
  color: deeppink;
  border: solid deeppink;
  border-radius: 5px;
  transition: 0.1s;
}

mat-drawer-content {
  align-items: center;
  background-color: lightgray;
}

mat-drawer {
  background-color: lightgray;
}

.mat-drawer-inner-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

span {
  padding-left: 1rem;
  padding-right: 10px;
  font-size: medium;
}

.name {
  margin-left: 60px;
}

.price {
  margin-right: 30px;
}

.price.ad {
  margin-right: 40px;
}

.small-view {
  display: none;
}


@media only screen and (max-width: 1000px) {
  .mat-drawer-container {
    min-width: 10px;
    width: 95vw;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 650px) {
  .mat-drawer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .name {
    margin: auto;
    font-weight: bold;
    font-size: medium;
  }

  .price {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .price.ad {
    margin: auto;
  }

  span {
    margin: auto;
  }

  .small-view {
    display: block;
  }

  .full-view {
    display: none;
  }
}
