mat-toolbar {
  margin-bottom: 10px;
}

img {
  margin-left: 10px;
  margin-top: 10px;
  margin-right:10px;
}

mat-drawer-container {
  min-width: 1000px;
  height: 120px;
  margin-bottom: 10px;
}

mat-drawer-container:hover {
  left: .1em;
  cursor: pointer;
  color: deeppink;
  border: solid deeppink;
  border-radius: 5px;
  transition: 0.1s;
}

mat-drawer-content {
  align-items: center;
  background-color: lightgray;

}

mat-drawer {
  background-color: lightgray;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

span {
  padding-left: 1rem;
  padding-right: 10px;
  font-size: medium;
}

.make {
  margin-left: 260px;
}

.name {
  margin-left: 60px;
}

.price {
  margin-right: 30px;
}

.price.ad {
  margin-right: 40px;
}
