image: node:latest
pages:
  stage: deploy
  script:
    - npm install -g @angular/cli
    - npm  install
    - ng  build --prod --base-href /car365-frontend/
    - mkdir public
    - mv ./dist/angular-car365-front/* public
  artifacts:
    paths:
      - public
  only:
    - develop

