div {
  display: flex;
  flex-direction: column;
  width: 70vw;
  margin: 5px auto;
}

nav {
  align-self: center;
  max-width: 1100px;
}

.mat-tab-link {
  color: #3F51B5;
}

a {
  font-size: 20px;
  font-weight: bold;
}

a:hover {
  color:deeppink;
  left: .1em;
}

@media only screen and (max-width: 1000px) {
  div {
    width: 90vw;
    margin: 0 0 0 14px;
    justify-content: center;
  }
}
