<div>
<app-listing-header></app-listing-header>
<app-listing *ngFor="let listingItem of listingItems" [listingItem]="listingItem"></app-listing>
  <span class="buttons">
      <button mat-raised-button (click)="nextPage()" class="nextButton">Next</button>
      <span class="headings">
        <h1>Page {{pageNr}}</h1>
        <h4>Total: {{this.numberOfCars}} cars, displaying: {{start + 1}} - {{smaller()}}</h4>
      </span>
      <button mat-raised-button (click)="previousPage()" class="previousButton">Previous</button>
    </span>
</div>
