<mat-toolbar color="primary" class="mat-elevation-z6">
  <div>
    <a mat-button routerLink="/home" class="logo">Car<a class="logoNumber">365</a></a>
    <nav>
      <a mat-button routerLink="/home" class="button colored">Home</a>
      <a mat-button routerLink="/allcars" class="button colored">All cars</a>
      <a mat-button class="button colored" (click)="openSignIn()">Sign in</a>
      <a mat-raised-button color="accent" class="button signup" (click)="openSignUp()">Sign up</a>
    </nav>
  </div>
</mat-toolbar>
