<mat-toolbar color="primary" class="mat-elevation-z6">
  <div>
    <a mat-button routerLink="home" class="logo">Car<a class="logoNumber">365</a></a>
    <div>
      <a mat-button routerLink="home" class="button colored">Home</a>
      <a mat-button routerLink="allcars" class="button colored">All cars</a>
      <a mat-button routerLink="signin" class="button colored">Sign in</a>
      <a mat-raised-button color="accent" routerLink="signup" class="button signup">Sign up</a>
    </div>
  </div>
</mat-toolbar>
