.listing {
  min-width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

mat-card-header {
  margin: auto;
  margin-bottom: 5%;
}

mat-card-title {
  padding: 15px;
}

.listing-header {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 5px;
}

.statusbox {
  margin: auto;
  border: solid black 1px;
  padding: 5px;
  background-color: lightgreen;
}

.listing-image {
  margin: auto;
  padding: 10px;
  max-width: 90%;
  min-width: 85%;
}
.listing-attributes {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10px;
}



.listing-attributes .attribute {
  text-align: center;
  min-width: 30%;
}

.listing-attributes .left-side {
  align-self: flex-start;
  margin-right: auto;
}

.listing-attributes .right-side {
  align-self: flex-end;
  margin-left: auto;
}


.listing-attributes .listing-info {
  text-align: center;
  min-width: 45%;
  padding: 10px;
}

.listing-info .small-attribute {
  min-width: 90%;
  text-align: left;
}

mat-grid-tile {
}

mat-grid-list {
}

mat-grid-tile-header {
  background-color: ghostwhite;
}

.additional-attribute-list {
  min-width: 95%;
  min-height: 100%;
  font-size: 1.2em;
}

mat-card-header {
  text-align: center;
  min-width: 100%;
  border-radius: 5px;
}


