<mat-card class="listing">
  <mat-card-header class="listing-header">
    <mat-card-title>BMW 320i 2.0 110kw</mat-card-title>
    <mat-card class="statusbox">Saadaval</mat-card>
  </mat-card-header>
  <div class="listing-attributes">
    <mat-card class="left-side" class="attribute">
      <div>BMW 320i</div>
    </mat-card>
    <mat-card class="right-side" class="attribute">
      <div>4000€</div>
    </mat-card>
  </div>
  <div class="listing-attributes">
    <mat-card class="left-side" class="attribute">
      <div>Year:</div>
      <div>1995</div>
    </mat-card>
    <mat-card class="right-side" class="attribute">
      <div>Mileage:</div>
      <div>269420</div>
      km
    </mat-card>
  </div>
  <img mat-card-image
       src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f2/1994-96_BMW_320i_sedan_%28Australia%29.jpg/1200px-1994-96_BMW_320i_sedan_%28Australia%29.jpg"
       alt="e36"
       class="listing-image">

  <div class="listing-attributes">
    <mat-card class="left-side" class="listing-info">
      <mat-card class="small-attribute">Veoskeem: </mat-card>
      <mat-card class="small-attribute">Käigukast: </mat-card>
      <mat-card class="small-attribute">Mootor: </mat-card>
      <mat-card class="small-attribute">Võimsus: </mat-card>
      <mat-card class="small-attribute">Kütus: </mat-card>
      <mat-card class="small-attribute">Asukoht:</mat-card>
    </mat-card>
    <mat-card class="right-side" class="listing-info">
      <mat-card></mat-card>
    </mat-card>
  </div>
</mat-card>
