.listing {
  min-width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

mat-card-header {
  margin: auto;
  margin-bottom: 5%;
}

mat-card-title {
  padding: 15px;
}

.listing-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 5px;
}

.statusbox {
  margin: auto;
  border: solid black 1px;
  padding: 5px;
  background-color: #ff9f2d;
}

.listing-image {
  margin: 0 auto;
  padding: 10px;
  min-width: 400px;
  min-height: 400px;
}

.buttons {
  display: flex;
  flex-direction: row-reverse;
  margin: 10px auto;
}

.next-button {
  margin-left: 5px;
  background-color: deeppink;
  color: white;
}

.previous-button {
  margin-right: 5px;
  background-color: deeppink;
  color: white;
}

.next-button:hover {
  left: .1em;
  color: #3F51B5;
}

.previous-button:hover {
  left: .1em;
  color: #3F51B5;
}

.images-buttons {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
}

h1 {
  margin-bottom: 0;
  font-weight: bold;
  color: #3F51B5;
}

.listing-attributes {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10px;
}


.listing-attributes .attribute {
  text-align: center;
  min-width: 30%;
}

.listing-attributes .left-side {
  align-self: flex-start;
  margin-right: auto;
}

.listing-attributes .right-side {
  align-self: flex-end;
  margin-left: auto;
}


.listing-attributes .listing-info {
  text-align: center;
  min-width: 45%;
  padding: 10px;
}

.listing-info .small-attribute {
  min-width: 90%;
  text-align: left;
}

mat-grid-tile {
}

mat-grid-list {
}

mat-grid-tile-header {
  background-color: ghostwhite;
}

.additional-attribute-list {
  min-width: 95%;
  min-height: 100%;
  font-size: 1.2em;
}

mat-card-header {
  text-align: center;
  min-width: 100%;
  border-radius: 5px;
}


