.profile-display {
  margin-left: 25px
}

.profile-display-title {
  margin: 20px;
  color: deeppink;
  font-weight: bold
}

@media only screen and (max-width: 1000px) {
  .profile-display {
    margin-left: 0;
  }
}
