div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

mat-card {
  text-align: center;
  width: 300px;
  height: 250px;
  background-color: #9ec3ff;
  border: solid #3F51B5;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

span {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

strong {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.errorMessage {
  color: deeppink;
  font-weight: bold;
}

@media only screen and (max-width: 800px) {
  mat-card {
    width: 90%;
  }
}
