div {
  width: fit-content;
  height: fit-content;
  border: solid #3F51B5;
  background-color: #3F51B5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

mat-form-field {
  padding-left: 10px;
  padding-right: 10px;
}

button {
  background-color: deeppink;
}

mat-label{
  color: white;
}

mat-option:hover {
  color:deeppink;
}

a {
  color: white;
}
