<div class="container mat-elevation-z6">
  <mat-form-field>
    <mat-label>Body type</mat-label>
    <mat-select>
      <mat-option>all</mat-option>
      <mat-option value="sedan">Sedan</mat-option>
      <mat-option value="hatchback">Hatchback</mat-option>
      <mat-option value="coupe">Coupe</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Make</mat-label>
    <mat-select>
      <mat-option>all</mat-option>
      <mat-option value="audi">Audi</mat-option>
      <mat-option value="bmw">BMW</mat-option>
      <mat-option value="fiat">Fiat</mat-option>
      <mat-option value="volvo">Volvo</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Model</mat-label>
    <mat-select>
      <mat-option>all</mat-option>
      <mat-option value="a6">A6</mat-option>
      <mat-option value="a8">A8</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Fuel</mat-label>
    <mat-select>
      <mat-option>all</mat-option>
      <mat-option value="diesel">diesel</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Transmission</mat-label>
    <mat-select>
      <mat-option>all</mat-option>
      <mat-option value="manual">manual</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Drivetrain</mat-label>
    <mat-select>
      <mat-option>all</mat-option>
      <mat-option value="rear">rear-wheel drive</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Location</mat-label>
    <mat-select>
      <mat-option>all</mat-option>
      <mat-option value="tallinn">Tallinn</mat-option>
    </mat-select>
  </mat-form-field>
  <span>
    <mat-form-field style="width:80px">
      <mat-label>Price from</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field style="width:80px">
      <mat-label>Price to</mat-label>
        <input matInput>
    </mat-form-field>
  </span>
  <span>
    <mat-form-field style="width:80px">
      <mat-label>Year from</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field style="width:80px">
      <mat-label>Year to</mat-label>
        <input matInput>
    </mat-form-field>
  </span>
  <span>
    <mat-form-field style="width:80px">
      <mat-label>Power from</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field style="width:80px">
      <mat-label>Power to</mat-label>
        <input matInput>
    </mat-form-field>
  </span>
  <button mat-raised-button ><a>Search</a></button>
</div>
