#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 3rem;
}

mat-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #3F51B5;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem;
}
