<div class="container mat-elevation-z6" *ngIf="listingParams">
  <mat-form-field>
    <mat-label>Body type</mat-label>
    <mat-select [(ngModel)]='selectedBodyType'>
      <mat-option>all</mat-option>
      <mat-option *ngFor="let bodyType of listSizeOne(listingParams.bodyType) | removeDuplicates"
                  value='{{bodyType}}'>{{bodyType}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Brand</mat-label>
    <mat-select [(ngModel)]='selectedBrand'>
      <mat-option>all</mat-option>
      <mat-option *ngFor="let brand of listSizeOne(listingParams.brand) | removeDuplicates"
                  value='{{brand}}'>{{brand}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Model</mat-label>
    <mat-select [(ngModel)]='selectedModel'>
      <mat-option>all</mat-option>
      <mat-option *ngFor="let model of listSizeOne(listingParams.model) | removeDuplicates"
                  value='{{model}}'>{{model}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Fuel</mat-label>
    <mat-select [(ngModel)]='selectedFuel'>
      <mat-option>all</mat-option>
      <mat-option *ngFor="let fuel of listSizeOne(listingParams.fuel) | removeDuplicates"
                  value='{{fuel}}'>{{fuel}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Transmission</mat-label>
    <mat-select [(ngModel)]='selectedGearBoxType'>
      <mat-option>all</mat-option>
      <mat-option *ngFor="let gearBoxType of listSizeOne(listingParams.gearBoxType) | removeDuplicates"
                  value='{{gearBoxType}}'>{{gearBoxType}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Drivetrain</mat-label>
    <mat-select [(ngModel)]='selectedDriveType'>
      <mat-option>all</mat-option>
      <mat-option *ngFor="let driveType of listSizeOne(listingParams.driveType) | removeDuplicates"
                  value='{{driveType}}'>{{driveType}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Location</mat-label>
    <mat-select [(ngModel)]='selectedLocation'>
      <mat-option>all</mat-option>
      <mat-option *ngFor="let location of listSizeOne(listingParams.location) | removeDuplicates"
                  value='{{location}}'>{{location}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Color</mat-label>
    <mat-select [(ngModel)]='selectedColor'>
      <mat-option>all</mat-option>
      <mat-option *ngFor="let color of listSizeOne(listingParams.color) | removeDuplicates"
                  value='{{color}}'>{{color}}</mat-option>
    </mat-select>
  </mat-form-field>
  <span>
    <mat-form-field style="width:80px">
      <mat-label>Price from</mat-label>
        <input matInput [(ngModel)]='selectedPriceStart'>
    </mat-form-field>
    <mat-form-field style="width:80px">
      <mat-label>Price to</mat-label>
        <input matInput [(ngModel)]='selectedPriceEnd'>
    </mat-form-field>
  </span>
  <span>
    <mat-form-field style="width:80px">
      <mat-label>Year from</mat-label>
        <input matInput [(ngModel)]='selectedYearStart'>
    </mat-form-field>
    <mat-form-field style="width:80px">
      <mat-label>Year to</mat-label>
        <input matInput [(ngModel)]='selectedYearEnd'>
    </mat-form-field>
  </span>
  <span>
    <mat-form-field style="width:80px">
      <mat-label>Power from</mat-label>
        <input matInput [(ngModel)]='selectedPowerStart'>
    </mat-form-field>
    <mat-form-field style="width:80px">
      <mat-label>Power to</mat-label>
        <input matInput [(ngModel)]='selectedPowerEnd'>
    </mat-form-field>
  </span>
  <button mat-raised-button (click)="saveSelectedParams()" routerLink="/search/{{tab}}"><a>Search</a></button>
</div>
