div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

mat-card {
  text-align: center;
  width: 300px;
  height: 480px;
  background-color: #9ec3ff;
  border: solid #3F51B5;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
