<div>
<mat-card>
  <mat-card-title>Sign up</mat-card-title>
  <mat-card-content>
    <mat-form-field>
      <mat-label>First name</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Last name</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Phone number</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>E-mail</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input type="password" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password confirmation</mat-label>
      <input type="password" matInput>
    </mat-form-field>
    <mat-checkbox><a>I agree to the Terms Of <br> Service and Privacy Policy</a></mat-checkbox>
    <br>
    <a mat-raised-button color="accent">Register</a>
  </mat-card-content>
</mat-card>
</div>
