.profile-menubar {
  background: #3F51B5;
  height: 200px;
  margin-bottom: 10px;
  width: 15em;
  display: flex;
  flex-direction: column;
}

.profile-menubar-button {
  width: 90%;
  margin: 5%;
}

@media only screen and (max-width: 1000px) {
  .profile-page {
    flex-direction: column;
  }
}


