a {
  font-size: 18px;
}

.profile-menubar {
  background: #3F51B5;
  height: 200px;
  margin-bottom: 10px;
  width: 15em;
  display: flex;
  flex-direction: column;
}

.profile-menubar-button {
  width: 90%;
  margin: 5%;
}

.mat-expansion-panel {
  background-color: #3F51B5;
  color: white;
}

::ng-deep h3 {
  margin: auto !important;
}

.profileMenu {
  display: none;
  align-content: center;
}

@media only screen and (max-width: 1000px) {
  .full {
    display: none;
  }

  .mat-expansion-panel {
    width: 100vw;
  }

  .profileMenu {
    display: block;
  }
}
