<div style="display: inline-flex">
  <div class="profile-menubar">
    <div>
      <a mat-button class="profile-menubar-button" (click)="btnClick(1)">My listings</a>
    </div>
    <div>
      <a mat-button class="profile-menubar-button" (click)="btnClick(2)">My favorites</a>
    </div>
    <div>
      <a mat-button class="profile-menubar-button" (click)="btnClick(3)">My settings</a>
    </div>
  </div>
  <a *ngIf="getBtnComponent() == 1">nr 1</a>
  <a *ngIf="getBtnComponent() == 2">nr 2</a>
  <a *ngIf="getBtnComponent() == 3">nr 3</a>
</div>



