div {
  margin-bottom: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h1 {
  margin: 5px;
  color: deeppink;
  font-weight: bold;
}

.next {
  display: flex;
  flex-direction: row;
}

.button {
  font-size: 1.2em;
  align-self: flex-end;
  margin: 5px;
}
