<div class="next">
  <app-filter></app-filter>
  <mat-spinner *ngIf="!listingItems" class="waiting-anim"></mat-spinner>
  <div *ngIf="listingItems" class="container">
    <div class="info">
      <h1>Recently added cars</h1>
      <a *ngIf="!isLoggedIn()" routerLink="/post" mat-raised-button color="accent" class="button post">Post a listing</a>
    </div>
    <app-listing-header></app-listing-header>
    <app-listing *ngFor="let listingItem of listingItems" [listingItem]="listingItem"></app-listing>
  </div>
</div>
