.profile-display {
  margin-left: 25px
}

.profile-display-title {
  margin: 20px;
  color: deeppink;
  font-weight: bold
}

mat-form-field.input, mat-label.current {
  margin: 20px;
  width: 200px;
}

mat-form-field.mail {
  width: 440px;
}

button.change {
  height: 40px;
  background: deeppink;
  color: white;
}

button.change:hover {
  background: #eb147f;
}

button.change:disabled {
  opacity: 50%;
  background: whitesmoke;
}

@media only screen and (max-width: 1000px) {
  .profile-display {
    margin-left: 0;
  }
}


