<h1 class="profile-display-title">Your settings</h1>
<div class="profile-display">
  <!--Name section-->
  <div>
    <div>
      <mat-label class="current">Your name:</mat-label>
      <mat-label class="current"><strong>{{owner.firstName}} {{owner.lastName}}</strong></mat-label>
    </div>
    <mat-form-field class="input">
      <label>
        <input [(ngModel)]="newFirstName" [formControl]="nameForm" pattern="[a-zA-Z]{1}([a-zA-Z]|\.|-){2,19}"
               matInput placeholder="New first name" [type]="'text'">
      </label>
    </mat-form-field>
    <mat-form-field class="input">
      <label>
        <input [(ngModel)]="newLastName" [formControl]="nameForm" pattern="[a-zA-Z]{1}([a-zA-Z]|\.|-){2,19}"
               matInput placeholder="New lastname">
      </label>
    </mat-form-field>
    <button mat-raised-button class="change" [disabled]="isValidNameChange(newFirstName, newLastName)"
            (click)="changeName(newFirstName, newLastName)">
      Change
    </button>
  </div>
  <!--Mail section-->
  <div>
    <div>
      <mat-label class="current">Your e-mail:</mat-label>
      <mat-label class="current"><strong>{{owner.email}}</strong></mat-label>
    </div>
    <mat-form-field class="input">
      <label>
        <input [(ngModel)]="newMail" [formControl]="mailForm" pattern="\w+(\w|.)*@+\w{2,}\.+[a-zA-Z]{2,3}"
               matInput placeholder="New e-mail address" [type]="'email'">
      </label>
    </mat-form-field>
    <button mat-raised-button class="change" [disabled]="isValidMailChange(newMail)" (click)="changeMail(newMail)">
      Change
    </button>
  </div>
  <!--Phone section-->
  <div>
    <div>
      <mat-label class="current">Your tel nr:</mat-label>
      <mat-label class="current"><strong>{{owner.phone}}</strong></mat-label>
    </div>
    <mat-form-field class="input">
      <label>
        <input [(ngModel)]="newPhone" [formControl]="phoneForm" pattern="[0-9]{3,9}" matInput
               placeholder="New tel number" [type]="'tel'">
      </label>
    </mat-form-field>
    <button mat-raised-button class="change" [disabled]="isValidPhoneChange(newPhone)" (click)="changePhone(newPhone)">
      Change
    </button>
  </div>
  <button mat-raised-button class="change" (click)="saveChanges()">Save Changes</button>
  <button mat-raised-button class="premium" (click)="upgradeToPremium()" [disabled]="!canUpgrade()">Get Premium</button>

</div>
